body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:975px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:606px;
  height:367px;
}
#u1379 {
  border-width:0px;
  position:absolute;
  left:131px;
  top:319px;
  width:606px;
  height:367px;
}
#u1379_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:682px;
  height:397px;
}
#u1380 {
  border-width:0px;
  position:absolute;
  left:143px;
  top:678px;
  width:682px;
  height:397px;
}
#u1380_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:891px;
  height:286px;
}
#u1381 {
  border-width:0px;
  position:absolute;
  left:84px;
  top:0px;
  width:891px;
  height:286px;
}
#u1381_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
