body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:965px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2006_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:975px;
  height:689px;
}
#u2006 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-9px;
  width:975px;
  height:689px;
}
#u2006_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
