body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1400px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1199_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1199 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1400px;
  height:50px;
}
#u1199_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1200_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1200 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:0px;
  width:181px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1200_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1200.mouseOver {
}
#u1200_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:177px;
  word-wrap:break-word;
}
#u1201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:50px;
}
#u1201 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:0px;
  width:123px;
  height:50px;
  color:#CCCCCC;
}
#u1201_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:119px;
  word-wrap:break-word;
}
#u1202_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1202 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:0px;
  width:181px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1202_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1202.mouseOver {
}
#u1202_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:177px;
  word-wrap:break-word;
}
#u1203_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1203 {
  border-width:0px;
  position:absolute;
  left:757px;
  top:0px;
  width:181px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1203_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1203.mouseOver {
}
#u1203_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:177px;
  word-wrap:break-word;
}
#u1204_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1204 {
  border-width:0px;
  position:absolute;
  left:938px;
  top:0px;
  width:181px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1204_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1204.mouseOver {
}
#u1204_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:177px;
  word-wrap:break-word;
}
#u1205_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1205 {
  border-width:0px;
  position:absolute;
  left:1119px;
  top:0px;
  width:181px;
  height:50px;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1205_div.mouseOver {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:181px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:0px 5px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  font-family:'微软雅黑 Bold', '微软雅黑';
  font-weight:700;
  font-style:normal;
}
#u1205.mouseOver {
}
#u1205_text {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:177px;
  word-wrap:break-word;
}
#u1206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1401px;
  height:2px;
}
#u1206 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:50px;
  width:1400px;
  height:1px;
}
#u1206_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1201px;
  height:2px;
}
#u1207 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:91px;
  width:1200px;
  height:1px;
}
#u1207_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
