body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:962px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2009_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  height:695px;
}
#u2009 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:962px;
  height:695px;
}
#u2009_text {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  visibility:hidden;
  word-wrap:break-word;
}
